<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.mapper.UserMapper">

<!--     开启二级缓存-->
    <cache />
    <resultMap type="my.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
        <result property="regTime" column="reg_time" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, email, nick_name, pass_word, reg_time, user_name
        from user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="UserMap">
        select
          id, email, nick_name, pass_word, reg_time, user_name
        from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="passWord != null and passWord != ''">
                and pass_word = #{passWord}
            </if>
            <if test="regTime != null and regTime != ''">
                and reg_time = #{regTime}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="passWord != null and passWord != ''">
                and pass_word = #{passWord}
            </if>
            <if test="regTime != null and regTime != ''">
                and reg_time = #{regTime}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user(email, nick_name, pass_word, reg_time, user_name)
        values (#{email}, #{nickName}, #{passWord}, #{regTime}, #{userName})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into user(email, nick_name, pass_word, reg_time, user_name)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.email}, #{entity.nickName}, #{entity.passWord}, #{entity.regTime}, #{entity.userName})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into user(email, nick_name, pass_word, reg_time, user_name)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.email}, #{entity.nickName}, #{entity.passWord}, #{entity.regTime}, #{entity.userName})
        </foreach>
        on duplicate key update
        email = values(email),
        nick_name = values(nick_name),
        pass_word = values(pass_word),
        reg_time = values(reg_time),
        user_name = values(user_name)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="passWord != null and passWord != ''">
                pass_word = #{passWord},
            </if>
            <if test="regTime != null and regTime != ''">
                reg_time = #{regTime},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

</mapper>

